<div class="detailsPageWrapper">
    <div class="header">
        <span class="material-symbols-outlined icon" (click)="goBack()">
            arrow_back
        </span>
        <div class="title">
            <span>
                {{ listName() }}
                @if(isClosed()) {
                    (closed)
                }
            </span>
        </div>
        <div class="buttons">
            <app-addbutton tooltip="Add Todo" (addClicked)="addChild()"></app-addbutton>
            <app-editbutton tooltip="Edit List"></app-editbutton>
        </div>
    </div>
    <div class="tasks">
        @if (showNoResults()) {
            <div class="noResults">
                <span>Todo List Contains no items. Add some with +.</span>
            </div>
        } @else {
            <div class="table">
                @for (item of list()?.items; track $index) {
                    <div class="row" [ngClass]="{ overdue: item.isOverdue }">
                        <mat-checkbox [checked]="item.isCompleted"></mat-checkbox>
                        <span [matTooltip]="item.details ?? ''">{{ item.name }}</span>
                        <app-addbutton tooltip="Add Child Task"></app-addbutton>
                        <app-editbutton tooltip="Edit Child Task"></app-editbutton>
                        <app-delete-button></app-delete-button>
                        @if(item.children?.length ?? 0 > 0) {
                            <div class="grandchildren">
                                @for (grandchild of item.children; track $index) {

                                }
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>