<div class="detailsPageWrapper">
    <div class="header">
        <span class="material-symbols-outlined icon" (click)="goBack()">
            arrow_back
        </span>
        <div class="title">
            @if(editMode()) {
                <app-input type="text" [formCtrl]="listNameCtrl" title="List Name" [inline]="true" (inputBlur)="listNameBlur()"></app-input>
            } @else {
                <span>
                    {{ listName() }}
                    @if(isClosed()) {
                        (closed)
                    }
                </span>
            }
        </div>
        <div class="buttons">
            <app-addbutton tooltip="Add Todo" (addClicked)="addChild()"></app-addbutton>
            <app-editbutton tooltip="Edit List" (editBtnClicked)="editList()"></app-editbutton>
            <app-delete-button tooltip="Delete List" (deleteClicked)="deleteList()"></app-delete-button>
        </div>
    </div>
    <div class="tasks">
        @if (showNoResults()) {
            <div class="noResults">
                <span>Todo List Contains no items. Add some with +.</span>
            </div>
        } @else {
            <div class="table">
                @for (item of list()?.items; track $index) {
                    <div class="row">
                        <div class="itemWrapper">
                            <div class="column"  [ngClass]="{ overdue: item.isOverdue }">
                                <mat-checkbox [checked]="item.isCompleted" (change)="completeChanged(item)"></mat-checkbox>
                                <span [matTooltip]="item.details ?? ''">{{ item.name }}</span>
                                <app-addbutton tooltip="Add Child Task" (addClicked)="addChild(item.id)"></app-addbutton>
                                <app-editbutton tooltip="Edit Task" (editBtnClicked)="editItem(item)"></app-editbutton>
                                <app-delete-button tooltip="Delete Task" (deleteClicked)="deleteChildTask(item.id)"></app-delete-button>
                            </div>
                            @if(item.children?.length ?? 0 > 0) {
                                <div class="grandchildren">
                                    <div class="fixedWidth"></div>
                                    @for (grandchild of item.children; track $index) {
                                        <div class="column"  [ngClass]="{ overdue: grandchild.isOverdue }">
                                            <mat-checkbox [checked]="grandchild.isCompleted" (change)="completeChanged(grandchild)"></mat-checkbox>
                                            <span [matTooltip]="grandchild.details ?? ''">{{ grandchild.name }}</span>
                                            <app-editbutton tooltip="Edit Task" (editBtnClicked)="editItem(grandchild, item.id)"></app-editbutton>
                                            <app-delete-button tooltip="Delete Task" (deleteClicked)="deleteChildTask(grandchild.id)"></app-delete-button>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>