<div class="wrapper">
    <div class="add">
        <app-addbutton (addClicked)="addList()" tooltip="Add New List"></app-addbutton>
        <app-delete-button (deleteClicked)="deleteAllLists()" tooltip="Delete All Lists"></app-delete-button>
    </div>
    <div class="list">
        @if(todoListArr().length == 0) {
            <div class="noResults">
                <span>Add Todo Lists by clicking the + button</span>
            </div>
        }
        @for (list of todoListArr(); track $index) {
            <div class="row">
                <div class="listItem">
                    <span class="material-symbols-outlined" (click)="navigateToDetails(list.id)">
                        chevron_right
                    </span>
                    <span (click)="navigateToDetails(list.id)">{{ list.name }}</span>
                    <app-delete-button (deleteClicked)="deleteList(list.id)"></app-delete-button>
                    <!-- <app-delete-button></app-delete-button> -->
                </div>
            </div>
        }
    </div>
</div>