@import url('../../../styles.css');

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;

    .add {
        display: flex;
        width: 100%;
        justify-content: end;
        margin-right: 1.5vw;
        align-content: space-between;

        * {
            margin-right: 1vw;
        }
    }

    .list {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0.5vh 0;

            .listItem {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 5vh;
                align-items: center;
                width: 50vw;
                border: var(--border-thickness) solid var(--border-color);
                border-radius: var(--border-radius);

                &:hover {
                    cursor: pointer;
                    background-color: var(--background-hover);
                    --icon-color: var(--white);

                    span {
                        color: var(--white);
                    }

                    app-delete-button {
                        color: red;
                    }
                }
            }
        }

        .noResults {
            display: flex;
            justify-content: center;
        }
    }
}