@import url('../styles.css');

.header {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
    background-color: var(--branding-blue);

    span {
        color: var(--white);
    }
}