:root {
    --text-gray: #737370;
    --white: #fff;
    --branding-blue: #687BDF;
    --required-blue: #1BD0E0;
    --error-red: #E6180A;
    --valid-green: #25EB13;
    --background-gray: #E2E2E2;
    --background-hover: #6E6E6E;
}

body {
    background-color: var(--background-gray);
    
    span, * {
        color: var(--text-gray);
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
